main.brand {
  text-align: center;
  min-width: 17rem;
  max-width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 0.25rem;
  color: white;
  background-color: #112e51;
  flex: 5
}

main.brand img {
  max-width: 100%;
}