.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  min-width: 17rem;
  background-color: black;
}

.normal {
  text-decoration: none;
  color: white;
  padding: 0.75rem;
}

.normal:hover {
  background-color: orange;
}

.selected {
  outline: none;
  background-color: grey;
}