.loginForm {
  min-width: 17rem;
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-color: black;
  border-width: 0.25rem;
  color: white;
  background-color: #112e51;
  flex: 4
}

.loginText {
  margin: 5rem 10%;
  width: min-content;
  height: min-content;
  position: relative;
}